/* Page content styles */
.post-area {
	margin: 0 auto 50px auto;
}

.post-meta img {
	border: 0 !important;
}

.wp-caption-text {
	font: 18px/1.6em "JuraBold", serif;;
	margin: 0;
}

.post-meta {
	font: 18px/1.6em "JuraRegular", serif;
	text-align: center;
	margin: 0 0 10px 0;
}

.search-meta {
	font: 14px/1em "JuraRegular", serif !important;
	margin: 0;
}

article.search {
	margin: 20px 0;
	p {
		font: 16px/2em "JuraRegular", serif;
	}
}

.post-meta em {
	font-family: "JuraItalic", serif;
}

.post-share {
	margin: 20px 0;
}

.categories {
	float: right;
}

p.categories {
	margin: 0;
}

article {
	h1, h2 {
		text-align: center;
	}
}