@import "compass/reset";
@import "colors";
@import "fonts";
@import "mixins";
@import "typography";
@import "nav";
@import "post";
@import "table";
@import "404";
@import "sidebar";
@import "media";
@import "footer";

// Hide ridiculous social feather image.
.synved-social-credit {
	display: none !important;
}
/* Global styles */
html {
  -webkit-text-size-adjust: none;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $bgcolor;
	@include jura-reg;
	font-size: 16px;
	line-height: 1.8em;
}

.clearfix {
	clear: both;
}

.hide {
	display: none;
}

::selection {
	background: $bold-red;
	}
::-moz-selection {
	background: $bold-red;
}

/* Image float/wrap styles */
.alignleft {
	float: left;
	margin: 10px 15px 5px 0;
	text-align: center;
}

.alignright {
	float: right;
	margin: 10px 0 5px 15px;
	text-align: center;
}

.aligncenter {
	margin: 0 auto;
	text-align: center;
	display: block;
}

/* Archive page styles */
.categories {
	float: none;
}

/* Gallery styles */
.gallery-item {
	width: auto !important;
	padding-right: 20px;
}